.container{
    width: 100vw;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro{
    width: 50vw;
    height: 60vh;
}

.intro p{
    font-family:Be Vietnam Pro;
}

.intro span{
    font-family:Be Vietnam Pro;
    font-weight: 600;
    font-size: 16px;
}

.openTerminalBtn{
    font-family:Be Vietnam Pro;
    width: 100px;
    height: 40px;
    font-size: 16px;
}

.openTerminalBtn:hover{
    background:#1e1e1e ;
    color: white;
}