.container{
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    margin: auto;
    transition: width 0.5s, height 0.5s;
    padding-bottom: 20px;
    font-size: 18px;
}

.fullScreen{
    height: 100vh;
    width: 100vw;
}

.smallScreen{
    border-radius: 12px;
    height: 80vh;
    width: 80vw;
}

.topbar{
    display: flex;
    background-color: #282734;
    height: 20px;
    padding:1px 5px;
    border-radius: 12px 12px 0px 0px;
}

.topbarBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 20px;
    margin: 0px 5px;
    background-color: #fff;
    opacity: 0.8;
    border-radius: 4px;
}

.topbarBtn:hover{
    opacity: 1 ;
}

.terminalBody{
    padding:5px 5px 0px 5px;
    text-align: start;
    flex: 1;
    color: #fff;
    overflow: auto;
}
.terminalData{
    /* letter-spacing: 0.8px; */
    /* height:50px; */
    width: inherit;
    height: max-content;
    overflow-x: auto;
}

.newCommand{
    align-items: center;
    display: flex;
    height: 20px;
    gap:10px;
}

.root{
    min-width: max-content;
}

.commandInput{
    background: none;
    color: #fff;
    font-size: 18px;
    letter-spacing:0.5px;
}


.listResult{
    width: 100%;
    height: 20px;
}

.animation{
    width: 60%;
    margin: auto;
    overflow: hidden;
    /* text-align: center; */
    animation: hideIntro 1s 5s forwards;
    text-align: center;
}

@keyframes hideIntro {
    from{opacity: 1;}
    to{opacity: 0;height: 0;}
}

.text{
    font-weight: 400;
    height: 25px;
    width: 0%;
    overflow: hidden;
}

.experience{
    font-size: 20px;
    font-weight: 800;
}

.domain{
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
}

.text1{
    animation: textWidth 1s forwards;
}


.text2{
    background-color: #fff;
    color: #1e1e1e;
    font-weight: 1000;
    font-size: 30px;
    height: 45px;
    animation: textWidth 1s 1s forwards;
}

.text3{
    animation: textWidth 1s 2s forwards;
}

.text4{
    animation: textWidth 1s 3s forwards;
}

@keyframes textWidth {
    from{width: 0%;}
    to{width:100%;}
}
